@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IranYekan500";
    src: url("../_fonts/iranyekanwebmedium.eot");
    src: url("../_fonts/iranyekanwebmedium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebmedium.woff") format("woff"),
      url("../_fonts/iranyekanwebmedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IranYekan400";
    src: url("../_fonts/iranyekanwebregular.eot");
    src: url("../_fonts/iranyekanwebregular.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebregular.woff") format("woff"),
      url("../_fonts/iranyekanwebregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IranYekan300";
    src: url("../_fonts/IRANYekanLight.eot");
    src: url("../_fonts/IRANYekanLight.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANYekanLight.woff") format("woff"),
      url("../_fonts/IRANYekanLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IranYekan700";
    src: url("../_fonts/iranyekanwebbold.eot");
    src: url("../_fonts/iranyekanwebbold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebbold.woff") format("woff"),
      url("../_fonts/iranyekanwebbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "IRANSansWeb300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb400";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb500";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face{
    font-family: "IRANSansWeb700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "AnjomanMax400";
    src:
      url("../_fonts/AnjomanMax-Medium.woff") format("woff"),
      url("../_fonts/AnjomanMax-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "AnjomanMax600";
    src:
      url("../_fonts/AnjomanMax-Black.woff") format("woff"),
      url("../_fonts/AnjomanMax-Black.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  body {
    transition: 0.3s ease-out;
    overflow-x: hidden;
    direction: rtl;
    margin: 0;
    padding: 0;
  }
.faNum{
    font-family: "IRANSansWeb300";
}
  
  * {
    box-sizing: border-box;
    /* direction: rtl; */
  }
  a{
    text-decoration: none;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
  }



.ProductCat-C header,
.Product-List-C header,
.ProductShow header,
.articleList-C header,
.articleShow header,
.Search-Container header,
.page header{
    background-color: #4C515A;

}
header .Menu-Container{
    background: #ffffff;

}

@font-face {
  font-family: "IRANYekan400";
  src: url("../_fonts/iranyekanwebregular.eot");
  src: url("../_fonts/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebregular.woff") format("woff"),
    url("../_fonts/iranyekanwebregular.woff2") format("woff2"),
    url("../_fonts/iranyekanwebregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan500";
  src: url("../_fonts/iranyekanwebmediumfanum.eot");
  src: url("../_fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebmediumfanum.woff") format("woff"),
    url("../_fonts/iranyekanwebmediumfanum.woff2") format("woff2"),
    url("../_fonts/iranyekanwebmediumfanum.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan700";
  src: url("../_fonts/IRANYekanBold.eot");
  src: url("../_fonts/IRANYekanBold.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanBold.woff") format("woff"),
    url("../_fonts/IRANYekanBold.woff2") format("woff2"),
    url("../_fonts/IRANYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AnjomanMax500";
  src: url("../_fonts/AnjomanMaxFN-Medium.woff") format("woff"),
    url("../_fonts/AnjomanMaxFN-Medium.woff2") format("woff2"),
    url("../_fonts/AnjomanMaxFN-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANYekan400";
}

h1 {
  font-size: 24px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSansWeb500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSansWeb400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSansWeb300";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSansWeb500";
  line-height: 24px;
}

.gallerySliderPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.gallerySliderPagination .swiper-pagination-bullet {
  width: 4.2px;
  height: 13.83px;
  border-radius: 30px;
  margin: 0 !important;
  opacity: 1;
  background-color: #6d6e73;
  transition: 0.8s;
}
.gallerySliderPagination .swiper-pagination-bullet-active {
  height: 23.11px;
  background-color: #f9920b;
}

.activeFilterBtn p {
  color: #f9920b;
}

.projectBox .title {
  background-image: linear-gradient(to right, black, black);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  -webkit-transition: 0.3s, background-size 0.5s;
  transition: all 0.3s, background-size 0.5s;
}

.projectBox:hover .title {
  background-size: 100% 2px;
}
.projectBox:hover .title h3 {
  transform: translateY(-100%);
}
.projectBox:hover .title span {
  bottom: 0;
}

.CategoriesSlider .swiper-slide {
  width: fit-content !important;
}
.clientSldier .swiper-slide {
  width: fit-content !important;
}

.CategoriesScrollbar .swiper-scrollbar-drag {
  background-color: #f9920b;
  cursor: pointer;
}

.home .section6 .swiper-pagination-bullet {
  width: 1px;
  height: 20px;
  border-radius: 0;
  margin: 0 !important;
  opacity: 1;
  background-color: #161617;
  transition: 0.8s;
}

.home .section6 .swiper-pagination-bullet-active {
  height: 25px;
  width: 3px;
  background-color: #f9920b;
}
.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}
.Product-List-C .CatP:hover .IMG img,
.Product-List-C .CatP:hover .Title h2{

  filter: drop-shadow(2.47px 2.47px 12.36px #00000040);
  -webkit-filter: drop-shadow(2.47px 2.47px 12.36px #00000040);
}
.collapse{
  
  visibility: unset !important;

}

html{
  font-size: unset !important;
}
.subtoggle .Drop-Item,
.parentSub .Drop-Item{
  padding-right: 1em;
}
a{
  text-decoration:  none !important;
}
@media only screen and (min-width: 600px) {
  * {box-sizing: border-box;}
  .img-zoom-container {
    position: relative;
  }
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 75px;
    height: 75px;
  }
  .img-zoom-result {
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    border: 1px solid #d4d4d4;
    position: absolute;
    right: -350px;
    top: 0;
    transform: translateY(-100%) !important;
    overflow: hidden;
    -webkit-transform: translateY(-100%) !important;
    -moz-transform: translateY(-100%) !important;
    -ms-transform: translateY(-100%) !important;
    -o-transform: translateY(-100%) !important;
  }
  
  
  
  #myhide {
      display: none;
  }
  .img-zoom-container:hover .myhide {
      display:block;
  }
  }
  
  @media only screen and (max-width: 600px) {
      .img-zoom-container:hover .myhide {
      display:none;
  }
    .img-zoom-container {
    position: relative;
    width: 480px;
    height: 320px;

    overflow: hidden;


}
  
  .imgid {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .imgid img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  
  .img-zoom-container:hover .imgid img {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    overflow:show;
  }
    
  }
  .img-zoom-lens,
  .myresult,
  .img-zoom-result{
    opacity: 0;
  }
  .paginations .swiper-button-prev::before,
  .paginations .swiper-button-prev::after,
 .paginations .swiper-button-next::before,
  .paginations .swiper-button-next::after{
content: unset;
  }
  .paginations .swiper-pagination-bullet{
    width: 4px;
    background-color: #6D6E73;
    height: 13px ;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    margin: auto;
    opacity: 1 !important;
}
.paginations .swiper-pagination-bullet-active{
  background-color: #f9920b !important;
  height: 18px !important;
}
.Catalogs img{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);

}
.swiper-Blogs .swiper-slide:nth-child(odd) .artInfo{
order: 1;
}
.swiper-Blogs .swiper-slide:nth-child(odd) .artImg{
  order: 2;
  }
.swiper-Blogs .swiper-slide:nth-child(even) .artInfo{
    order:2;
}
.swiper-Blogs .swiper-slide:nth-child(even) .artImg{
      order: 1;
  }
  .aboutUS-C .Section-5  .Box{
    box-shadow: 4px 4px 20px 0px #00000040;

  }
  .aboutUS-C .swiper-gallery .swiper-slide .IMG{
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.aboutUS-C .swiper-gallery .swiper-slide-active .IMG{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.Section-6 .Gallerys{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Section-6 .paginations .swiper-pagination-bullet{
  width: 2px;
}
.InputBox input{
background-color: transparent;
border: none;
outline: none;
border-bottom: 1px solid #fff;
font-size: 16px;
font-weight: 400;
line-height: 25.1px;
color: #A1A3A9;
padding-bottom: .5em;
}
.InputBox input::placeholder{
  font-size: 16px;
  font-weight: 400;
  line-height: 25.1px;
  color: #A1A3A9;
}
.InputBoxes input{
  width: 60%;
  background-color: transparent;
border: 1px solid #161617;
padding: 1.5em 0;
outline: none;
padding-right: .8em;
font-size: 16px;
font-weight: 400;
line-height: 25.1px;
color: #A1A3A9;
font-family: 'AnjomanMax400';
}
.InputBoxes input::placeholder{
  font-size: 16px;
font-weight: 400;
line-height: 25.1px;
color: #A1A3A9;
padding-bottom: .5em;
font-family: 'AnjomanMax400';
}
.Search-Container .InputBoxes .searchIcon{
  left: 22%;
  top: 30%;

}
.Search-Container .Search-C::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  background-image:url('../images/pattern3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.Search-Container .sec{
  position: relative;
}
.Search-Container .sec::before{
  content: '';
  width: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #161617;
  right: 0;
  margin: auto;
}
.page404-C {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.5%);

}
.Product-List-C .Drop-Item:hover .TXT{
  color: #000000;
}
.articleBox .para{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.articleShow .Section-2 p{
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  color: #161617;
  text-align: right;
}
.articleShow .Section-3 p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #161617;
  text-align: right;
}
.articleShow .Shares{
  gap: 4.8em;
}
.zoomResult{
position: relative;
}